// Colors

$azul: blue;
$vermelho: red;
$rosa: rgb(255, 0, 191);


// fonts
$ptsans: 'PT Sans', sans-serif;
$playfair: 'Playfair Display', serif;


// Classes para padronizacao

.text-default{
    text-align: center;
    font-family: $ptsans;
}


// btns site
.btn-default{
    cursor: pointer;
    background-color: #FFE19C;
    border-color: #FFE19C;
    border-radius: 10px;
    padding: 13px;
    width: 150px;
    color: black;
    box-shadow: 6px 4px 20px 4px #000000b3;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;

    &:hover{
        box-shadow: 3px 4px 10px 4px #beb4b4b3;
        -webkit-transform:scale(1.1); 
        -moz-transform:scale(1.1); 
          -o-transform:scale(1.1);
                transform:scale(1.1);
                transition: transform 0.8s;

    }
}

.btn-default-2{
    cursor: pointer;
    padding: 13px;
    width: 150px;   
    color: black;
    border: 2.5px solid black;
    font-family: $ptsans;
    font-size: 15px;
    background-color: #d4bf8d;
    border-color: #d4bf8d;
    border-radius: 10px;


    &:hover{
        box-shadow: 3px 4px 10px 4px #443d36;
        background-color: #d4bf8d;
        transform: translateY(-5px);
        transition: transform 0.8s;

    }
}

// Classes default do site

.secao-2-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.container-2-elementos{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

// loader

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}