// Colors

$azul: blue;
$vermelho: red;
$rosa: rgb(255, 0, 191);


// fonts
$ptsans: 'PT Sans', sans-serif;
$playfair: 'Playfair Display', serif;


// Classes para padronizacao

.text-center{
    text-align: center;
}