// Colors

$azul: blue;
$vermelho: red;
$rosa: rgb(255, 0, 191);


// fonts
$ptsans: 'PT Sans', sans-serif;
$playfair: 'Playfair Display', serif;


// Classes para padronizacao

.text-default{
    text-align: center;
    font-family: $ptsans;
}



.btn-default{
    cursor: pointer;
    background-color: green;
    padding: 13px;
    width: 150px;   
    color: white;
    box-shadow: 3px 4px 10px 4px #000000b3;
    font-family: $ptsans;
    font-size: 15px;
}

.btn-default-2{
    cursor: pointer;
    padding: 13px;
    width: 150px;   
    color: black;
    border: 2.5px solid black;
    font-family: $ptsans;
    font-size: 15px;

    &:hover{
        box-shadow: 3px 4px 10px 4px #000000b3;

    }
}