@import "mixins";
@import "navBar-style.scss";

html, body{ margin: 0; background-color: #c8e7d2d3; p{font-family: $ptsans;}}

// Navbar styles
header {

  h1 {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 26px;
    color: #ECF39E;

  }
  
  h1::after {
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}


// fullbaner Styles


.fullbanner{
  height: 100vh;

  .text-fullBanner{
      font-family: $playfair;
      display: flex;
      justify-content: center;

      // div{
      //   width: 65%;
      // }
  }

  .swiper-container{
    height: 100vh;

    .swiper-slide{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


// Section Info 1 //


.section-info-1{

  .container-info-1{
    align-items: flex-start;
  }
    .txt-info-1{

      background-image: linear-gradient(to right top, #3e903a, #409440, #429945, #459d4a, #47a250, #4ca652, #50aa55, #55ae57, #5db257, #65b657, #6dba56, #75be56);
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        text-align: left;
        font-size: 23px;
      }
      div{
        width: 40%;
        padding: 15px;
        flex: 3 5 430px;
      }

      button{
        margin-bottom: 4%;
      }
    }

    .img-info-1{
      width: 50%;
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 auto;

      .img-info1{
        width: 52%;
        border-radius: 21px;
        z-index: 9;

        }
      
      .img-info2{
        width: 40%;
        border-radius: 46px;
        position: absolute;
        top: 35%;
        right: 0;
      }
    }

    @media(max-width: 500px) {
      .img-info-1{
        width: 100% !important;
      }

    }
    @media(max-width: 1200px) {

      .container-info-1{
        flex-direction: column;
  
        .txt-info-1{
          width: auto;

          div{
            width: auto;
            padding: 15px;
            flex: none;
            text-align: center;
            margin: auto;
          }
          button{
            margin-bottom: 5%;
          }
        }
        .img-info-1{
          width: 70%;
          margin-top: 5%;
        }
      }
    }
}

// Section img Cube

.section-img-cube{
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  @media (max-width: 1200px) {

    .swiper-container3{
      position: relative;
      margin-top: 59%;
    }
  }
}


// Section Info 2 styles //


.section-info-2{

  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 4%;

  .txt-info-2{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      text-align: left;
      font-size: 23px;
    }

    div{
      width: 40%;
      padding: 15px;
      flex: 3 5 430px;
    }
  }

  .img-info-2{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  
  }

  @media (max-width: 1200px) {

    .container-info-2{
      flex-direction: column;

      .txt-info-2{
        width: auto;
        padding: 50px;

        div{
          width: auto;
          padding: 15px;
          flex: none;
          text-align: center;
          margin: auto;
        }
        button{
          margin-bottom: 5%;
        }
      }

      .img-info-2{
        width: 100%;
      
      }
    }
  }
  
}


/*Section Info Cards*/


.section-info-cards {
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

  .container-info-cards{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1280px;
    margin: auto;  

  }
  img{
    width: 95%;
    height: 360px;
    border-radius: 7px;
  }

  .info-card {
    flex: 1 1 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .info-card h2 {
    font-size: 22px;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
  }
  
  .info-card sup {
    font-size: 1.5rem;
  }
  
  @media (max-width: 800px) {
    .section-info-cards {
      padding-left: 10px;
      padding-right: 10px;

    }
    .section-info-cards .info-card:nth-child(3) {
      order: -2;
    }
    .section-info-cards .info-card:nth-child(2) {
      order: -1;
    }
  }
  
}

// Section text Mid

.section-text-mid{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;

  h3{
    text-align: center;
    font-family: $ptsans;
    font-size: 25px;
  }
}


// Section Info 3


.section-info-3{

  background-image: linear-gradient(to right top, #499046, #4b934a, #4c954f, #4e9853, #509b57, #55a05a, #59a55c, #5eaa5f, #67b261, #71bb63, #7bc365, #85cb67);
    .container-info-3{
      max-width: 1280px;

    }
    p{
      text-align: left;
      font-size: 23px;
      color: white;
    }
    
    h2{
      color: white;
    }

  .bloco-txt{
    width: 50%;
    display: flex;

    div{
      padding-right: 60px;
      flex: 3 5 430px;
    }
  }

  .bloco-img{
    width: auto;
    display: flex;
    justify-content: center;

    div{
      width: 100%;

      img{
        width: 100%;
      }
    }
  }

  @media (max-width: 1200px) {

    .container-info-3{
      flex-direction: column;
    }
    .bloco-txt{
      width: auto;
      p, h2{text-align: center;}

      div{
        padding: 0;
      }
    }
    .bloco-img{

      width: 50%;
      margin-bottom: 3%;
    }
  }
}


/*SECTION TRIPPLE IMAGES*/

.section-tripple-images {
	max-width: 1280px;
	margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    img{
      width: 100%;
    }
    
  .section-tripple-images h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px
  }
  
  .images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  
  .image-item {
    flex: 1 1 175px;
    margin: 10px;
  }
  
  .image-item h3 {
    font-size: 3em;
    color: #a4a4a4;
  }
  

}

.h2-midle-page{
  margin-top: 5%;
}

// Estilos Swiper sliders //

.swiper-container {
  width: 100%;
  height: 800px;

  .fullBanner-slide1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../src/images/banner-img.jpg);
    background-size: cover;
    background-position: center;

  }

  .fullBanner-slide2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../src/images/banner-img.jpg);
    background-size: cover;
    background-position: center;

  }

}

.swiper-container2 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-wrapper {
    right: 10%;  
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 60%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 11px -6px 16px;
  }
}

.swiper-container3 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;


  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
}
